# --- Dependências (Backend e Frontend) ---
node_modules/
**/node_modules/

# --- Builds e Dist ---
dist/
**/dist/
.quasar/
**/src-cordova/
**/src-capacitor/
**/src-electron/

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# --- Variáveis de Ambiente e Segredos ---
.env
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/