# 📦 Dependências do Node
node_modules/
npm-debug.log
yarn-error.log

# 🔐 Arquivos de Configuração e Segredos (CRÍTICO)
.env
.env.production
.env.local
*.pem
*.key

# 🏗️ Pastas de Build (NestJS e Quasar)
dist/
build/
.quasar/
.nest/

# 🐳 Docker (Ignorar arquivos de override locais)
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.local.yml
docker-compose.*.yml
docker-compose.yml
docker-compose.yaml
dockerfile
*/dockerfile
*/Dockerfile

# 💻 Configurações de IDEs e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# 📝 Logs
logs/
*.log

frontend/src/boot/axios.ts